@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'iransans';
  src: url(../src/fonts/IRANSansWeb.ttf);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'iransans';
}
select {
  -webkit-appearance: listbox !important;
}
button {
  font-family: inherit;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
